<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a routerLink="home" class="navbar-brand">MV school</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a routerLink="Alunos" routerLinkActive="active" class="nav-link">alunos</a>
        </li>
        <li class="nav-item">
          <a routerLink="professores" routerLinkActive="active"  class="nav-link">professores</a>
        </li>
        <li class="nav-item">
          <a routerLink="perfil"routerLinkActive="active"  class="nav-link">perfil</a>
        </li>
       
      </ul>
    </div>
  </div>
</nav>
