<div *ngIf="professorSelecionado">
  <h1>{{titulo}} : {{professorSelecionado}}</h1>
  <button class="btn btn-primary btn-default"(click)="voltar()">voltar</button>
  </div>
  <br>

  <div *ngIf="!professorSelecionado">

    <table class="table table-hover">

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">nome</th>
      <th scope="col">disciplina</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prof of professores" style="cursor: pointer;" (click)="professorSelect(prof)">
      <th scope="row">{{prof.id}}</th>
      <td>{{prof.nome}}</td>
      <td>{{prof.disciplina}}</td>
    </tr>
  </tbody>
</table>


