
<div class="row">
<!-- <div>
  <input type="text" [(ngModel)]="textSimple">
  <p>{{textSimple}}</p>
</div> -->
  <div class="col-sm-6" *ngIf="alunoSelecionado">

    <div class="row">
    <div class="col-md-10">
      <h1>{{titulo}} : {{alunoSelecionado.nome}}</h1>
    </div>

    <div class="col-md-2 mt-2 justify-content-end">
      <button class="btn btn-outline-danger btn-default"(click)="voltar()">Fechar</button>
    </div>
    </div>
    <form [formGroup]="alunoForm" (submit)="alunoSubmit()">
      <div class="form-group">
        <label for="formGroupExampleInput">Nome :</label>
        <input type="text" formControlName="nome" class="form-control" >
      </div>
      <div class="form-group mt-3">
        <label for="formGroupExampleInput2">Sobrenome :</label>
        <input type="text" formControlName="sobrenome" class="form-control" >
      </div>
      <div class="form-group mt-3">
        <label for="formGroupExampleInput2">telefone :</label>
        <input type="text" formControlName="telefone"  class="form-control">
      </div>
      <div class="form-group mt-3">

        <button class="btn btn-primary" [disabled]="!alunoForm.valid">enviar</button>
        </div>
    </form>
    </div>
    <br>
    <div [ngClass]= "{'col-sm-6': alunoSelecionado ,'col-sm-12': !alunoSelecionado}">
      <table class="table table-hover mt-5">
        <thead>
          <tr>
            <th scope="col">Visualizar</th>
            <th scope="col">#</th>
            <th scope="col">nome</th>
            <th scope="col">sobrenome</th>
            <th scope="col">telefone</th>
            <th scope="col" id="botoes">opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aluno of alunos">
            <td><button (click)="alunoSelect(aluno)" class="btn btn-outline-warning">detalhe</button></td>
            <th scope="row" >{{aluno.id}}</th>
            <td >{{aluno.nome}}</td>
            <td >{{aluno.sobrenome}}</td>
            <td >{{aluno.telefone}}</td>
            <td>
              <div class="btn-group">
            <button (click)="openModal(template)" class="btn btn-outline-primary" id="editar">Professor</button>
            <button class="btn btn-outline-danger">Deletar</button>
            </div>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
    <ng-template #template>
      <div class="modal-body">
      <app-professores></app-professores>
      </div>
<div class="modal-footer">
  <button type="button" class="btn pull-right" aria-label="Close"
   (click)="modalRef?.hide()">
   Fechar
  </button>
</div>
    </ng-template>

