
<div *ngIf="alunoSelecionado">
<h1>{{titulo}} : {{alunoSelecionado}}</h1>

</div>
<br>
<div *ngIf="!alunoSelecionado">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">nome</th>
        <th scope="col">sobrenome</th>
        <th scope="col">telefone</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let aluno of alunos" style="cursor: pointer;" (click)="alunoSelect(aluno)">
        <td scope="row">{{aluno.id}}</td>
        <td scope="row">{{aluno.nome}}</td>
        <td scope="row">{{aluno.sobrenome}}</td>
        <td scope="row">{{aluno.telefone}}</td>
      </tr>
    </tbody>
  </table>
</div>
<button class="btn btn-primary btn-default"(click)="voltar()">voltar</button>

